{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
    <h1>Create Contact</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    {% if error %}
        <p>tototot</p>
     <p>{{ error }}</p>
    {% endif %}
{% endblock %}
