<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="/css/bootstrap.min.css">
        {% endblock %}
    </head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">CRM</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <div class="navbar-nav">
                <a class="nav-item nav-link text-white" href="/">Contacts</a>
                <a class="nav-item nav-link text-white" href="/contact/create">Create</a>
                <a class="nav-item nav-link btn btn-danger text-white" href="/logout">Logout</a>
            </div>
            {% endif %}
        </div>
    </nav>
        {% block body %}
        {% endblock %}
        {% block javascripts %}
            <script src="/js/jquery-3.4.1.min.js"></script>
            <script src="/js/bootstrap.min.js"></script>
        {% endblock %}
    </body>
</html>
